<div id="left-window" class="column-contents" data-ng-controller="categoriesController as vm">
    <a class="minimized" href="javascript:void(0)" data-ng-click="vm.open()">Categories</a>
    <div class="image-label header" style="cursor: pointer" data-ng-click="vm.minimize()">
        <span class="icon icon45">&nbsp;</span>
        <span class="label">Categories</span>
        <a href="#" class="x">x</a>
    </div>
    <ul>
        <li class="row clickable" data-ng-click="vm.select(tag)" data-ng-class="{selected: tag.selected} " data-ng-repeat="tag in vm.categories">
            <label> {{tag.name}}</label>
        </li>
    </ul>
</div>