<div class="login-page">

<div class="background">
    <div class="login-box">
        <div data-ng-controller="LoginController as vm">
            <label style="margin-right: 10px; display: block">{{vm.texts.security.USERNAME[vm.language]}} <input type="text" style="padding: 5px; width: 218px" data-ng-model="vm.username" /> </label>
            <label style="margin-right: 10px; margin-top: 10px; display: block">{{vm.texts.security.PASSWORD[vm.language]}} <input type="password" style="padding: 5px; width: 218px" data-ng-model="vm.password" /></label>
            <div>
               <button data-ng-click="vm.login()">{{vm.texts.security.SUBMIT[vm.language]}}</button>
               <div style="clear: both"></div>
            </div>
            <div>
                <div class="error" data-ng-if="vm.error" style="line-height: 1.4em; margin-top: 5px; color: #a94442;background-color: #f2dede; border: 1px solid #ebccd1; padding: 10px">
                    <b>{{vm.problem}}</b> {{vm.error}}
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="banner">
    0-One Orange CMS 
    <span style="float: right">Powered by Google Maps & CodeKinden Labs</span>
</div>

<style type="text/css">

.login-page button {
    float: right; margin-right: 0; position: relative; margin-top: 12px; border-color: #aaa
}

.login-page {
    height: 100%; display: flex; flex-direction: column
}

.login .background {
     width: 100%; flex: 1; border-bottom: 1px solid #aaa; border-top: 2px solid #aaa; 
     display: flex; 
     justify-content: center;
     background-position: center; background-image: url('/Modules/Security/Images/image.jpg')
}

    .login .login-box {
        padding: 20px;
        border-radius: 10px;
        width: 230px;
        opacity: 0.9;
        background-color: #333333; 
        margin: auto; 
        position: relative; 
        top: -100px;
        color: white
    }

    .login .login-box > div {
        margin-right: 50px; margin: auto
    }

    .login .banner {
     background-color: #333333; height: 10px; padding: 12px; border-top: solid 1px #222; color: #ddd   
    }

</style>