<div class="login-page">

<div class="background">
    <div class="login-box">
        <div class="wrapper" data-ng-controller="LoginController as vm">
            <label style="margin-right: 10px; display: block">{{vm.texts.security.USERNAME[vm.language]}} <input type="text" style="padding: 5px; width: 218px" data-ng-model="vm.username" /> </label>
            <label style="margin-right: 10px; margin-top: 10px; display: block">{{vm.texts.security.PASSWORD[vm.language]}} <input type="password" style="padding: 5px; width: 218px" data-ng-model="vm.password" /></label>
            <div>
               <button data-ng-click="vm.login()">{{vm.texts.security.SUBMIT[vm.language]}}</button>
               <div style="clear: both"></div>
            </div>
            <div>
                <div class="error" data-ng-if="vm.error" style="line-height: 1.4em; margin-top: 5px; color: #a94442;background-color: #f2dede; border: 1px solid #ebccd1; padding: 10px">
                    <b>{{vm.problem}}</b> {{vm.error}}
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="banner">
    0-One Orange CMS 
    <span style="float: right">Powered by Google Maps & CodeKinden Labs</span>
</div>