#cms-wrapper {
    display: flex;
    flex: 1;
    align-items: stretch;
}

#cms-map .angular-google-map-container {
    height: 600px;
    flex: 1;
    width: 100%
}

#cms-boundaries {
    width: 180px;
}

#cms-boundaries ul li.selected {
    background-color: #333;
}

#cms-boundaries.minimized {
    width: 40px;
}

#cms-boundaries.minimized .header,
#cms-boundaries.minimized ul {
    display: none;
}

#cms-boundaries .minimized {
    display: none
}

#cms-boundaries.minimized .minimized {
    transform: rotate(270deg);
    margin-top: 70px;
    color: #434343;
    text-decoration: none;
    display: block;
}

.marker-label {
    background-color: #555;
    border-radius: 3px;
    color: white;
    padding: 3px;
}

#cms-customers {
    width: 435px;
}
    #cms-customers .query {
        padding: 5px 10px;
        padding-top: 5px;
        border-bottom: 1px solid #ccc;
    }

    #cms-customers .customer-summary {
        margin-left: 7px;
    }

        #cms-customers .customer-summary .customer-phone {
            margin-top: 5px;
            display: inline-block;
            font-style: italic;
        }

    #cms-customers li.customer-row {
        display: flex;
    }

    #cms-customers li input[type='checkbox'] {
        margin-top: 0;
    }

    #cms-customers .tabbable .nav li {
        display: inline-block;
        background-color: #ccc;
        padding: 5px;
        border-radius: 3px;
        margin: 3px;
        cursor: pointer;
    }

        #cms-customers .tabbable .nav li.active {
            background-color: #fff;
        }

           #cms-customers .tab-pane input {
            width: 245px
        }

#cms-map {
    display: flex; 
    flex-direction: column; 
    flex: 1
}
#fountainG{
position:relative;
width:100px;
height:12px}

.fountainG{
position:absolute;
top:0;
background-color:#000000;
width:13px;
height:13px;
-moz-animation-name:bounce_fountainG;
-moz-animation-duration:0.8s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(.3);
-moz-border-radius:8px;
-webkit-animation-name:bounce_fountainG;
-webkit-animation-duration:0.8s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(.3);
-webkit-border-radius:8px;
-ms-animation-name:bounce_fountainG;
-ms-animation-duration:0.8s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(.3);
-ms-border-radius:8px;
-o-animation-name:bounce_fountainG;
-o-animation-duration:0.8s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(.3);
-o-border-radius:8px;
animation-name:bounce_fountainG;
animation-duration:0.8s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(.3);
border-radius:8px;
}

#fountainG_1{
left:0;
-moz-animation-delay:0.32s;
-webkit-animation-delay:0.32s;
-ms-animation-delay:0.32s;
-o-animation-delay:0.32s;
animation-delay:0.32s;
}

#fountainG_2{
left:13px;
-moz-animation-delay:0.4s;
-webkit-animation-delay:0.4s;
-ms-animation-delay:0.4s;
-o-animation-delay:0.4s;
animation-delay:0.4s;
}

#fountainG_3{
left:25px;
-moz-animation-delay:0.48s;
-webkit-animation-delay:0.48s;
-ms-animation-delay:0.48s;
-o-animation-delay:0.48s;
animation-delay:0.48s;
}

#fountainG_4{
left:38px;
-moz-animation-delay:0.56s;
-webkit-animation-delay:0.56s;
-ms-animation-delay:0.56s;
-o-animation-delay:0.56s;
animation-delay:0.56s;
}

#fountainG_5{
left:50px;
-moz-animation-delay:0.64s;
-webkit-animation-delay:0.64s;
-ms-animation-delay:0.64s;
-o-animation-delay:0.64s;
animation-delay:0.64s;
}

#fountainG_6{
left:63px;
-moz-animation-delay:0.72s;
-webkit-animation-delay:0.72s;
-ms-animation-delay:0.72s;
-o-animation-delay:0.72s;
animation-delay:0.72s;
}

#fountainG_7{
left:75px;
-moz-animation-delay:0.8s;
-webkit-animation-delay:0.8s;
-ms-animation-delay:0.8s;
-o-animation-delay:0.8s;
animation-delay:0.8s;
}

#fountainG_8{
left:88px;
-moz-animation-delay:0.88s;
-webkit-animation-delay:0.88s;
-ms-animation-delay:0.88s;
-o-animation-delay:0.88s;
animation-delay:0.88s;
}

@-moz-keyframes bounce_fountainG{
0%{
-moz-transform:scale(1);
background-color:#000000;
}

100%{
-moz-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-webkit-keyframes bounce_fountainG{
0%{
-webkit-transform:scale(1);
background-color:#000000;
}

100%{
-webkit-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-ms-keyframes bounce_fountainG{
0%{
-ms-transform:scale(1);
background-color:#000000;
}

100%{
-ms-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-o-keyframes bounce_fountainG{
0%{
-o-transform:scale(1);
background-color:#000000;
}

100%{
-o-transform:scale(.3);
background-color:#FFFFFF;
}

}

@keyframes bounce_fountainG{
0%{
transform:scale(1);
background-color:#000000;
}

100%{
transform:scale(.3);
background-color:#FFFFFF;
}

} 