#cms-wrapper {
    display: flex;
    flex: 1;
    align-items: stretch;
}

#cms-map {
    display: flex;
    flex-direction: column;
    flex: 1;

    .angular-google-map-container {
        height: 600px;
        flex: 1;
        width: 100%;
    }
}

#cms-boundaries {
    width: 180px;

    ul li.selected {
        background-color: #333;

        .minimized {
            display: none;
        }
    }
}

#cms-boundaries.minimized {
    width: 40px;

    .header, ul {
        display: none;

        .minimized {
            transform: rotate(270deg);
            margin-top: 70px;
            color: #434343;
            text-decoration: none;
            display: block;
        }
    }

    .marker-label {
        background-color: #555;
        border-radius: 3px;
        color: white;
        padding: 3px;
    }

    #cms-customers {
        width: 435px;

        .query {
            padding: 5px 10px;
            border-bottom: 1px solid #ccc;
        }

        .customer-summary {
            margin-left: 7px;

            .customer-phone {
                margin-top: 5px;
                display: inline-block;
                font-style: italic;
            }
        }

        li.customer-row {
            display: flex;
        }

        li input[type='checkbox'] {
            margin-top: 0;
        }

        .tabbable .nav li {
            display: inline-block;
            background-color: #ccc;
            padding: 5px;
            border-radius: 3px;
            margin: 3px;
            cursor: pointer;
        }

        .tabbable .nav li.active {
            background-color: #fff;
        }

        .tab-pane input {
            width: 245px;
        }
    }
}
