<div data-ng-controller="customersController as vm" class="column-contents listing">
    <div class="image-label header">
        <span class="icon icon127">&nbsp;</span>
        <span class="label">Customers</span>
        <a href="#" style="flex: 1; text-align: right; font-size: 10px; position: relative; top: 1px; color: #3b73af; padding-right: 5px; text-decoration: none">New Customer</a>
    </div>
    <div class="query">
        <input data-ng-model="vm.query.strMatch" style="width: 411px" data-ng-change="vm.search()" type="text" />
    </div>
    <ul context-menu data-target="customer-context-menu">
        <li class="clickable row" style="display: flex; flex-direction: column" class="row" data-ng-repeat="customer in vm.customers" data-ng-mouseover="vm.highlight(customer)">
            <div style="display: flex">
                <div class="customer-summary">
                    <span style="margin-right: 5px">{{customer.name}}</span>
                    <span class="customer-phone">{{customer.telephone}}</span>
                </div>
            </div>
        </li>
    </ul>
</div> 

<style type="text/css">
    .customer-details label {
        display: block
    }

        .customer-details .tab-pane {
            margin-top: 10px; margin-left: 5px
    }

              .customer-details .tab-pane h2 {
            margin-top: 10px; margin-bottom: 5px
    }


    .customer-details label span {
        width: 120px;
        display: inline-block
    }

        #cms-customers .tabbable .nav {
            display: flex;
            align-items: stretch
    }

</style>