::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    background: #999;
}
