<div data-ng-controller="UsersController as vm" style="display: flex; flex-direction: column">
    <div class="image-label header">
        <span class="icon icon127">&nbsp;</span>
        <span class="label">Users</span>
        <a href="javascript:void(0)" data-ng-click="vm.createUser()" style="flex: 1; text-align: right; font-size: 10px; position: relative; top: 1px; color: #3b73af; padding-right: 5px; text-decoration: none">New User</a>
    </div>
    <div style="display: flex; flex: 1">
        <div id="user-listing" style="flex: 1">
            <table class="wide-table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Username</td>
                        <td>Role</td>
                        <td>Email</td>
                        <td>Client</td>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="user in vm.users">
                        <td>{{user.id}}</td>
                        <td>{{user.userName}}</td>
                        <td>{{user.role}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.client.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="user-editor" style="flex: 1">

        </div>
    </div>

</div>