<h1>GeoCMS</h1>
<div class="buttons" data-ng-controller="mainMenuController as vm">
    <div class="dropdown">
        <a style="cursor: pointer" class="button" data-ng-click="vm.showDropdown($event)">
            <span class="icon icon84">&nbsp;</span><span class="label" ng-bind-html="vm.texts.common.CMS[vm.language]"></span><span class="toggle">&nbsp;</span>
        </a>
        <div class="dropdown-slider" style="z-index: 9999999999">
            <a ui-sref="cms" class="ddm"><span class="label" ng-bind-html="vm.texts.common.CUSTOMERS[vm.language]"></span></a>
            <a data-ng-click="vm.import()" class="ddm"><span class="label" ng-bind-html="vm.texts.common.IMPORT_POI[vm.language]"></span></a>
            <a data-ng-click="vm.export()" class="ddm"><span class="label" ng-bind-html="vm.texts.common.EXPORT_POI[vm.language]"></span></a>
        </div>
    </div>
    <div class="dropdown">
        <a data-ng-click="vm.showUsers()" class="button"><span class="icon icon96">&nbsp;</span><span class="label" ng-bind-html="vm.texts.common.USERS[vm.language]"></span></a>
    </div>
    <a class="button" href="javascript:void(0)" data-ng-click="vm.logout()"><span class="icon icon155 "></span>
        <span ng-bind-html="vm.texts.common.LOGOUT[vm.language]"></span></a>
</div>
