#cms-toolbar {
    background-color: #efefef;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2px;
    display: block;
    min-height: 38px;
}

#cms-wrapper {
    display: flex;
    align-items: stretch;
}

#cms-map .angular-google-map-container {
    height: 600px;
    flex: 1;
    width: 100%
}

#cms-categories, #cms-boundaries {
    width: 180px;
}

#cms-categories ul li.selected, #cms-boundaries ul li.selected {
    background-color: #ddd;
}


#cms-categories.minimized, #cms-boundaries.minimized {
    width: 40px;
}

    #cms-categories.minimized .header,
    #cms-categories.minimized ul,
    #cms-boundaries.minimized .header,
    #cms-boundaries.minimized ul {
        display: none;
    }

    #cms-categories .minimized, #cms-boundaries .minimized {
        display: none
    }

    #cms-categories.minimized .minimized, #cms-boundaries.minimized .minimized {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        margin-top: 70px;
        color: #434343;
        text-decoration: none;
        display: block;
    }

