<div id="cms-wrapper">
    
    <div data-ng-include="'/Modules/CMS/Boundaries/Boundaries.html'" id="cms-boundaries" class="column"></div>

    <div data-ng-include="'/Modules/CMS/Categories/Categories.html'" id="cms-categories" class="column"></div>

    <div data-ng-include="'/Modules/CMS/Customers/Customers.html'" id="cms-customers" class="column"></div>
    
    <div style="display: flex; flex-direction: column; flex: 1" data-ng-controller="EditorController as vm">
        <div style="flex: 1" data-ng-include="'/Modules/CMS/Map/Map.html'" id="cms-map" style="flex: 1" data-ng-controller="googleMapsController as vm"></div>
        <div style="flex: 1" id="cms-editor" data-ng-if="vm.editor.current">
            <div style="border-top: 1px solid #ccc">
                <div style="">
                    <tabset type="pills" vertical="false" class="customer-details" style="margin-top: 2px; margin-left: 10px">
                        <tab>
                            <tab-heading>Client</tab-heading>
                            <h2>Infos Générales</h2>
                            <label><span>Telephone</span><input type="text" /></label>
                            <label><span>Nom Abonné</span><input type="text" /></label>
                            <label><span>Rue, numéro</span><input type="text" /></label>
                            <label><span>Repère 1</span><input type="text" /></label>
                            <label><span>Repère 2</span><input type="text" /></label>
                            <label><span>Quartier</span><input type="text" /></label>
                            <label><span>Village</span><input type="text" /></label>
                            <label><span>Région</span><input type="text" /></label>
                            <h2>Démographique</h2>
                            <label><span>Sexe </span><select></select> </label>
                            <label><span>Age</span><select></select></label>
                            <label><span>Status</span><select></select></label>
                            <label><span>Taille du foyer</span><select></select></label>
                        </tab>
                        <tab>
                            <tab-heading>Social</tab-heading>
                            <label>Emploi</label>
                            <label>Fonction</label>
                            <label>Revenus</label>
                        </tab>
                        <tab>
                            <tab-heading>Abonnement</tab-heading>
                            <h2>Abonnement Mobile</h2>
                            <h2>Abonnement ADSL</h2>
                            <h2>Equipement</h2>
                        </tab>
                        <tab><tab-heading>Commentaires</tab-heading></tab>
                        <tab><tab-heading>Administration</tab-heading></tab>
                    </tabset>
                    <div class="actions">
                        <button style="float: right" class="action green" data-ng-click="customer.isEditing = false"><span class="label">Save</span></button>
                        <button style="float: right" class="action red" data-ng-click="customer.isEditing = false"><span class="label">Cancel</span></button>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>
        </div>
    </div>
</div>

