.context-menu {
    background-color: white;
    border: 1px solid #ccc;
    display: none;
}

    .context-menu.open {
        display: block;
    }

        .context-menu.open li {
            padding: 5px 10px;
            list-style-type: none;
            font-size: 11px;
        }

            .context-menu.open li:hover {
                cursor: pointer;
                background-color: #efefef;
            }
