<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="Main"
        connectionString="Data Source=localhost;Initial Catalog=orangecms;User=orangecms;Password=349[lks]Qas9;Type System Version=SQL Server 2012"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
</configuration>
