<h1>GeoCMS</h1>
<div class="buttons" data-ng-controller="mainMenuController as vm">
    <div class="dropdown">
        <a style="cursor: pointer" class="button" data-ng-click="vm.showDropdown($event)">
            <span class="icon icon84">&nbsp;</span><span class="label">CMS</span><span class="toggle">&nbsp;</span>
        </a>
        <div class="dropdown-slider" style="z-index: 9999999999">
            <a ui-sref="cms" class="ddm"><span class="label">Customers</span></a>
            <a ui-sref="import" class="ddm"><span class="label">Import POI</span></a>
        </div>
    </div>
    <div class="dropdown">
        <a ui-sref="users" class="button"><span class="icon icon96">&nbsp;</span><span class="label">Users</span></a>
    </div>
    <a class="button" href="javascript:void(0)" data-ng-click="vm.logout()"><span class="icon icon155 "></span>Logout</a>
</div>
